:root{
    --main1:#2da88c;
    --main2: #f8683c;
}

.carousel-indicators li{
    box-sizing:content-box;
    flex:0 1 auto;
    width: 50px;
    min-width: 12vw;
    height: 50px;
    min-height: 12vw;
    margin-right:3px;
    margin-left:3px;
    text-indent:inherit;
    cursor:pointer;
    background-color:var(--main1);
    background-clip:padding-box;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    opacity:.5;
    transition:opacity .6s ease;
    -webkit-transition:opacity .6s ease;
    -moz-transition:opacity .6s ease;
    -ms-transition:opacity .6s ease;
    -o-transition:opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 0.7;
    background-color: rgb(228, 99, 25);
  }
  .carousel-item img{
      max-height: 100vh;
  }
  .max-h-30{
      max-height: 7vw;
  }
  .nav-back{
      background-color:var(--main1);
  }
  .nav-link:hover{
      background: var(--main2);
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
  .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

  /* =====================About============================ */

  .About1{
      background: var(--main1);
  }
  .About2{
    background: var(--main2);
}
.mygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mygrid img{
    height: 100%;
}
@media screen and (max-width:768px) and (min-width: 577px){
    .mygrid{
        grid-template-columns: 1fr 1fr;
    }
    .mygrid img:nth-child(2){
        order: 3;
    }
    .mygrid div:nth-child(3){
        order: 5;
    } 
    .mygrid img:nth-child(4){
        order: 2;
    }
    .mygrid div:nth-child(5){
        order: 4;
    } 
    .mygrid img:nth-child(6){
        order: 6;
    }
}
@media screen and (max-width:576px){
    .mygrid{
        grid-template-columns: 1fr ;
    }
    .mygrid img:nth-child(2){
        order: 4;
    }
    .mygrid div:nth-child(3){
        order: 5;
    } 
    .mygrid img:nth-child(4){
        order: 2;
    }
    .mygrid div:nth-child(5){
        order: 3;
    } 
    .mygrid img:nth-child(6){
        order: 6;
    }
    .mygrid img{
        height: auto;
    }
}
/* ====================svg================== */
.process{
    background: url(../images/process-bg.jpg);
}
.bg-lblue{
    background: rgb(148, 187, 199);
}
.bg-1{
    background: url(../images/p-bg1.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}
.bg-2{
    background: url(../images/p-bg2.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}
.bg-3{
    background: url(../images/p-bg3.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}
.bg-4{
    background: url(../images/p-bg4.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}
/* ====================blog============== */
.blog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.gr1{
    grid-area:1/1/2/2;
}
.gr2{
    grid-area:1/2/2/3;
}
.gr3{
    grid-area:1/3/3/4;
}
.gr4{
    grid-area:2/1/3/3;

}
.img-100h{
    height: 100%;
}
@media screen and (max-width:992px) and (min-width: 577px){
    .blog-grid{
        grid-template-columns: 1fr 1fr;
    }
    .gr1{
        grid-area:1/1/2/2;
    }
    .gr2{
        grid-area:1/2/2/3;
    }
    .gr3{
        grid-area:2/1/3/2;
    }
    .gr4{
        grid-area:2/2/3/3;
    }
} 
@media screen and (max-width:576px){
    .blog-grid{
        grid-template-columns: 1fr;
    }
    .gr1{
        grid-area:1/1/2/2;
    }
    .gr2{
        grid-area:2/1/3/2;
    }
    .gr3{
        grid-area:3/1/4/2;
    }
    .gr4{
        grid-area:4/1/5/2;
    }
}


.hh{
    height: 154px;
}

/* ====================map================= */
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
}



/* ====================andrewstrab================= */
@media (min-width: 992px) {
.w-md-50{
    width: 50% !important;
}
}
